.projects {
	margin: 0rem auto;
	display: flex;
	width: 80%;
	align-items: center;
	justify-content: space-evenly;
	font-family: "Barlow Condensed";
}

.projectHeader {
	width: 40%;
	text-align: center;
	font-weight: 600;
}
.projectHeader h1 {
	font-size: 3rem;
}
.projectHeader div {
	margin-top: 2rem;
	font-size: 1.8rem;
}
.projectHeading {
	font-size: 3rem;
	text-align: center;
}
.projectList {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	margin: 2rem auto;
	width: 90%;
}
.moreProject {
	display: flex;
	justify-content: center;
}
@media (max-width: 768px) {
	.projects {
		margin: 0rem auto;
		flex-direction: column;
		width: 90%;
	}
	.projectHeader {
		width: 100%;
	}
	.projectHeader div {
		margin-top: 1rem;
		font-size: 1.5rem;
	}
}

@media (max-width:768px) {
    .app-content{
        margin-top: 4rem;
    }
    
}

